@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
    --cor-de-fundo: #1F1F1F;
    --cor-conteiner: #262626;
    --cor-campos-formulario: #333533;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Koulen;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo);
}

.btn-voltar {
    padding: 15px 25px;
    background-color: #333533;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    border-radius: 40%;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-voltar:hover {
    background-color: #444544;
}

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nomeJogador {
    width: 600px;
    height: 10vh;
    border-radius: 20px;
    background-color: rgb(85, 85, 85);
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 10px var(--cor-campos-formulario);
}

.vezDeJogar1 {
    background: #00a6fb;
    transition: background 0.3s ease-in-out;
}

.vezDeJogar2 {
    background-color: #dd0426;
    transition: background 0.3s ease-in-out;
}

.tabuleiro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
    width: calc(51vh + 120px);
    height: calc(51vh + 120px);
    padding: 30px;
}

.colunaVitoria {
    width: 20px;
    height: 0px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: -3vh;
    z-index: 1;
    transition: height 1s ease;
}

.linhaVitoria {
    height: 20px;
    width: 0px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: -2vh;
    z-index: 1;
    transition: width 1s ease;
}

.diagonalPrincipal {
    height: 20px;
    width: 0;
    top: 48%;
    left: -18%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    transition: width 0.5s ease;
}

.diagonalSecundaria {
    height: 20px;
    width: 0;
    top: 48%;
    right: -18%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
    transition: width 0.5s ease;
}

#fundo_menus {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}

.menu {
    padding: 30px;
    width: 50vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-conteiner);
}

.btn {
    width: 100%;
    padding: 10px;
    border: 0px solid black;
    font-size: 3vh;
    border-radius: 10px;
    cursor: pointer;
}

.btn-azul {
    background-color: #00a6fb;
}

.btn-azul:hover {
    background-color: #008dd3;
}

.btn-vermelho {
    background-color: #dd0426;
    text-align: center;
    text-decoration: none;
}

.btn-vermelho:hover {
    background-color: #b7011c;
}

.linha {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cell {
    width: 17vh;
    height: 17vh;
    border-radius: 10px;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: relative;
    box-shadow: 0px 0px 1px 10px var(--cor-campos-formulario);
}